.farm {margin-bottom: 6rem;}
.farm > h3 {color: #0745f1; font-weight: 600; margin: 3rem 0 2rem !important;}
.farm > h3 > img {width: 5%; margin-right: 1rem;}
.farm_info {margin-bottom: 2rem;}


/* 나의 내역 */
.my_farm {margin-bottom: 4rem;}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
    word-wrap: break-word;
    word-break: keep-all;
    text-align: center;
    float: left;
}
thead {border-top: 1px solid #ccc; border-bottom: 1px solid #f1f1f1;}
.td_left {text-align: left;}
.my_farm thead th, .my_farm tbody td {
    padding: 10px 0px;
}
.my_farm tbody tr {border-bottom: 1px solid #f1f1f1;}
.my_farm tbody td, .my_farm tbody p {font-size: 13px; text-align: center;}
.my_farm td span {color: #0745f1; font-size: 15px; font-weight: 600;}
.my_farm img {max-width: 40%;}